<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>
<body>

          <center>
               <h2>Système authentification Application Super Hero</h2>
               
               {% block content%}
               {% endblock %}

               <!-- <script>
                    setTimeout(function() {
                         var successMessage = document.getElementById('success-message');
                         if (successMessage) {
                              successMessage.style.display = 'none';
                         }
                    }, 3000);
               </script> -->
          </center>

       
</body>
</html>